{% extends 'base.html.twig' %}

{% block body %}

    <div>titre : {{ blogs.title|upper}}</div>
    <div>description : {{ blogs.description }}</div>



{% endblock %}

{% block title %}

{% endblock %}

