<!-- Header START -->
<header class="navbar-light navbar-sticky header-static">
    <!-- Logo Nav START -->
    <nav class="navbar navbar-expand-xl">
        <div class="container-fluid px-3 px-xl-5">
            <!-- Logo START -->
            <a class="navbar-brand" href="index.html">
                <img class="light-mode-item navbar-brand-item" src="{{ asset('assets/images/logo.png') }}" alt="logo">
                <img class="dark-mode-item navbar-brand-item" src="assets/images/logo-light.svg" alt="logo">
            </a>
            <!-- Logo END -->

            <!-- Responsive navbar toggler -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
            </button>

            <!-- Main navbar START -->
            <div class="navbar-collapse w-100 collapse" id="navbarCollapse">
                <!-- Nav Main menu START -->
                <ul class="navbar-nav navbar-nav-scroll ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index-4.html">Esprit AF2C</a></li>
                    <li class="nav-item"><a class="nav-link" href="docs/alerts.html">Démarche pédadogique</a></li>
                    <li class="nav-item"><a class="nav-link" href="index-4.html">L'équipe</a></li>
                    <li class="nav-item"><a class="nav-link" href="docs/alerts.html">Financement de votre formation</a></li>
                    <li class="nav-item"><a class="nav-link" href="index-4.html">Actualités</a></li>
                    <li class="nav-item"><a class="nav-link" href="index-4.html">BLOG</a></li>
                    <li class="nav-item"><a class="nav-link" href="index-4.html" style="margin-right: 10px">Contact</a></li>
                </ul>
                <!-- Nav Main menu END -->
            </div>
            <!-- Main navbar END -->


        </div>
    </nav>
    <!-- Logo Nav END -->
</header>
<!-- Header END -->